html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.navbar-container {
    width: 10%;
}

.content-container {
    width: 90%;
}